# Régression linéaire à plusieurs variables - Exercices tirés du MOOC d'Andrew Ng

## Chargement des données

Le jeu de données donne la valeur de plusieurs maisons, ainsi que leur taille (pieds carrés) et le nombre de chambres à coucher

### Chargez les données du fichier ex1data1.csv

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

### Visualisez les données (valeurs réelles)

Maintenant, nous avons deux 'features'. Voyez si elles ont le même ordre de grandeur

In [3]:
data

    size  nb_bedrooms   price
0   2104            3  399900
1   1600            3  329900
2   2400            3  369000
3   1416            2  232000
4   3000            4  539900
5   1985            4  299900
6   1534            3  314900
7   1427            3  198999
8   1380            3  212000
9   1494            3  242500
10  1940            4  239999
11  2000            3  347000
12  1890            3  329999
13  4478            5  699900
14  1268            3  259900
15  2300            4  449900
16  1320            2  299900
17  1236            3  199900
18  2609            4  499998
19  3031            4  599000
20  1767            3  252900
21  1888            2  255000
22  1604            3  242900
23  1962            4  259900
24  3890            3  573900
25  1100            3  249900
26  1458            3  464500
27  2526            3  469000
28  2200            3  475000
29  2637            3  299900
30  1839            2  349900
31  1000            1  169900
32  2040            4  314900
33  3137            3  579900
34  1811            4  285900
35  1437            3  249900
36  1239            3  229900
37  2132            4  345000
38  4215            4  549000
39  2162            4  287000
40  1664            2  368500
41  2238            3  329900
42  2567            4  314000
43  1200            3  299000
44   852            2  179900
45  1852            4  299900
46  1203            3  239500

## Définissez quelques variables utiles

### Définissez X et y

X est maintenant une matrice de dimensions m x 2

In [ ]:
X = 
y =

### Initialisez theta (combien de dimensions?)

In [ ]:
theta =

### Vérifiez les dimensions de theta et de X. Sont-elles compatibles pour implémenter la fonction d'hypothèse sous forme vectorisée?

### Modifiez X en conséquence

In [ ]:
X =

## Écrivez une fonction pour centrer et réduire les features

In [ ]:
def featureScaleNormalize(X):
    
    
    
    return X, mean, stdev

### Maintenant nous allons devoir adapter nos fonctions _predict_, _fit_, et _cost_ à une situation à plusieurs variables

In [ ]:
def predict(X, theta):

In [ ]:
def cost(X, y, theta):

In [ ]:
def fit_with_cost(X, y, theta, alpha, num_iters):
    
    
    
    
    return theta, J_history

## Lancez l'entrainement du modèle

Vous êtes libres de choisir alpha et num_iters cette fois!

## Visualisez l'évolution du coût (graphe de convergence)

In [ ]:
fit = plt.figure()
ax = plt.axes()
ax.plot(J_history)

## Testez votre modèle

Que vaut une maison de 1650 pieds carrés et de 3 chambres à coucher? (Si la valeur est aberrante, vous avez peut-être oublié une étape...)

### Réécrivez votre fonction fit pour qu'elle prenne en compte un parametre de regularisation (L1, L2 pour Lasso ou Ridge) et adapte la mise  a jour de theta an fonction de la regularization précisée

In [ ]:
def fit_with_regularization(X, y, theta, alpha, num_iters, regularization=""):
    
    
    
    
    return theta, J_history

### La fonction fit au complet. Ajoutez un dernier parametre qui précise le gradient employé (stochastic, mini_batch(avec le batch_size), batch). Pour la descente de gradient stochastic et minibatch on met a jour le learning rate avec la formule du learning rate decay

In [ ]:
def complete_fit(X, y, theta, alpha, num_iters, regularization="", gradient_descent="batch", batch_size=4, decay_rate=1):
    
    
    
    
    return theta, J_history