# 1- Base du Python

## a) types

### Creez une variable 'string' contenant "toto" et une variable 'number' contenant le nombre 10

In [1]:
string = "toto"
number = 10
print (string, number)

toto 10

### Convertissez 'string' en unicode et 'number' en float

In [3]:
string = string.encode("utf-8")
number = number * 1.0

### Inversez le contenu des variables 'string' et 'number' (en 1 ligne)

In [4]:
print (string, number)
string , number = number , string
print (string, number)

b'toto' 10.0
10.0 b'toto'

## b) Listes

### Créez une liste A contenant les entiers suivants: 1, 3, 2, 7, 4, 10, 46

In [5]:
A = [1, 3, 2, 7, 4, 10, 46]


### Affichez les 3 premiers éléments de la liste A - en une ligne de code

In [6]:
print(A[2:5])

[2, 7, 4]

### Créez une liste B qui contient seulement les 3e, 4e et 5e éléments de A . Votre ligne de code ne devrait contenir que 8 caractères (sans compter les espaces) - Vérifiez bien votre résultat!

In [7]:
B=A[2:5]
B

[2, 7, 4]

### Concaténez les listes A et B pour former la liste C

In [9]:
C = A + B
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### A l'aide de la function zip associez les valeurs de A et B dans la variable D

In [8]:
D = zip (A, B)
list(D)

[(1, 2), (3, 7), (2, 4)]

### Ajoutez le nombre 5 à la liste A

In [9]:
A.append(5)
A

[1, 3, 2, 7, 4, 10, 46, 5]

### Ajoutez un élément nul à la liste C

In [10]:
C.append(None)
C

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Écrivez une fonction qui prend comme arguments une liste 'lst' et un entier 'n' et retourne le résultat de n concaténations de 'lst' avec elle-même (ex: lst=[1,2,3], n=2 --> [1,2,3,1,2,3])

In [11]:
# not the proper way, but it works
def myList(lst,  n):
    aList = []
    while n != 0:
        for j in lst:
            aList.append(j)
        n -= 1
    return aList
myList(A, 3)

[1, 3, 2, 7, 4, 10, 46, 5, 1, 3, 2, 7, 4, 10, 46, 5, 1, 3, 2, 7, 4, 10, 46, 5]

### Vous voulez rendre le paramètre 'n' optionnel et fixer sa valeur à 2 par défaut. Comment faites-vous?

In [12]:
# not the proper way, but it works
def myList(lst,  n = 2):
    aList = []
    while n != 0:
        for j in lst:
            aList.append(j)
        n -= 1
    return aList
myList(A, 0)

[]

### Avec une boucle 'while', imprimez chaque élément de la liste C jusqu'à l'élément nul

In [13]:
i = 0
while C[i] != None:
    print(C[i])
    i += 1

1
3
2
7
4
10
46
2
7
4

### Calculez, avec une boucle 'for', le nombre d'entiers pairs présents dans la liste A

In [14]:
i = 0
for j in A:
    if j % 2 == 0:
        i +=1
print(A, i)

[1, 3, 2, 7, 4, 10, 46, 5] 4

### Réécrivez l'expression suivante avec une boucle 'for' sur plusieurs lignes

In [15]:
C = [element for element in A if element %2 == 0]
C

[2, 4, 10, 46]

In [16]:
C = []
for element in A:
    if element % 2 == 0:
        C.append(element)
C

[2, 4, 10, 46]

### Creez une fonction qui prend une string en entree et retourne la premiere lettre unique de la string

In [17]:
def firstletterunique(aString):
    for lettr in aString:
        if aString.count(lettr) == 1:
            return lettr
firstletterunique("aaaabbcdddefff")

'c'

## c) Dictionnaire

### Creez un dictionnaire 'voiture' avec les cles et les valeurs suivantes:
| cle  | valeur |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [18]:
voiture = {"brand" : "Ford", "model":"Mustang", "year" : 1984}
voiture

{'brand': 'Ford', 'model': 'Mustang', 'year': 1984}

### Accedez a la valeur de "year"

In [19]:
voiture["year"]

1984

### Affichez a l'aide d'une boucle, l'ensemble des cles du dictionnaires

In [20]:
for elem in voiture:
    print(elem)

brand
model
year

### Affichez a l'aide d'une boucle, l'ensemble des valeurs du dictionnaires

In [21]:
for key in voiture:
    print(voiture[key])
for values in voiture.values():
    print(values)

Ford
Mustang
1984
Ford
Mustang
1984

### Affichez a l'aide d'une boucle, l'ensemble des items du dictionnaires. Affichez egalement l'indice de chaque iteration de boucle (fonction enumerate)

In [22]:
for idx, elem in enumerate(voiture):
    print(idx, elem, voiture[elem])
for key, value in enumerate(voiture.items()):
    print("{} {}".format(key, value))
for i, x in enumerate(voiture.items()):
    print(i, x)

0 brand Ford
1 model Mustang
2 year 1984
0 ('brand', 'Ford')
1 ('model', 'Mustang')
2 ('year', 1984)
0 ('brand', 'Ford')
1 ('model', 'Mustang')
2 ('year', 1984)

### A l'aide d'une dictionnaire comprehension creez un dictionnaire avec les cles et valeurs suivantes :
| cle  | valeur |
|---|---|
| cle_1  | dictionnaire 'voiture' |
| cle_2  | dictionnaire 'voiture' |
| cle_3  | dictionnaire 'voiture' |

#### exemple de dictionnaire comprehension :
```
dict = {cle:valeur for cle, valeur in list_1, list_2}
```

In [23]:
new = {key:voiture for key in ["cle_1", "cle_2", "cle_3"]}
new

{'cle_1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1984},
 'cle_2': {'brand': 'Ford', 'model': 'Mustang', 'year': 1984},
 'cle_3': {'brand': 'Ford', 'model': 'Mustang', 'year': 1984}}

## d) Fonctions

### Creez une fonction fibonacci (suite de fibonacci: 0 1 1 2 3 5 8 13 ...)

In [ ]:
def fibobo(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fibobo(n - 2) + fibobo(n - 1)
def fibonacci(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(4))
print(fibobo(14))
#for n in range(10):
#    print(fibonacci(n))

### Executez votre fonction (fibonacci(100) doit etre execute en moins de 1 seconde)

In [11]:
def fibonacci(n):
    tmp = [0, 1]
    if n < 1:
        return ([0])
    for i in range (1, n):
        tmp.append(tmp[i - 1] + tmp[i])
    return (tmp)
fibonacci(50)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

### Creez une fonction fibonacci en utilisant un generateur

this is _cool_

try **this**

In [2]:
a = int(input('Give amount: '))

def fib(n):
    a, b = 0, 1
    for _ in range(0, n):
        yield a
        a, b = b, a + b

print(list(fib(a)))

Give amount: 8
[0, 1, 1, 2, 3, 5, 8, 13]